header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}
.header_container {
  text-align: center;
  position: relative;
  height: 100%;
}
.cta {
  margin: 2.5rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 10rem;
  bottom: 3rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}
.myImage {
  background: linear-gradient(transparent, var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 1rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.scroll_down {
  position: absolute;
  right: 10rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll_down {
    display: none;
  }
}
